@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  p {
    @apply text-purple-500;
  }
  .nav-icons {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out text-purple-300;
  }
  .post-btn {
    @apply h-7 hover:scale-125 transition-all duration-150 ease-out cursor-pointer text-purple-300;
  }
}
